/* Layout */
body{
    margin:0;
    padding: 0;
    font-family: "Source Sans 3", serif;
    background-color: #f5f5f5;
}

.container{
    width: 375px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 0 15px;
}

header{
    width: 343px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 2px solid #C6C6C6;
}

main{
    display: flex;
    flex-direction: column;
    background-color: #EDEDED;
}

section{
    margin-bottom: 25px;
    background-color: #ffffff;
    padding-bottom: 16px;
}

/* Header Section */
.logo-img{
    width: 127px;
    height: 45px;
}

.profile-img{
    margin: 5px 0 0 0;
}

.profile-img, .user-img{
    width: 34px;
    height: 34px;
    border-radius: 100%;
}

.post-img{
    width: 375px;
    margin-bottom: 0;
    padding: 0;
    display: block;
}

/* Post User section */
.user-header{
    display: flex;
    justify-content: flex-start;
    gap: 7px;
}

.user-img{
    margin: 0;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name{
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.user-address{
    margin: 0;
    font-size: 12px;
}

.user-header{
    margin: 10px 0 10px 10px;
}

/* Post Actions section */
.icons-actions{
    padding: 0;
    margin: 21px 0 0 12px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.icons-action{
    display: block;
    margin: 0;
    height: 24px;
}

.icons-action:hover{
    height: 28px;
}

/* Post Engagements section */
.engagements{
    padding: 0;
    margin: 0 0 0 13px;
}

.likes{
    font-size: 13px;
    font-weight: bold;
    margin: 7px 0;
}

.comment{
    margin: 0;
}
